:root {
    --switch-diameter: 30px;
    --switch-on-background: #4CAAD9;
    --switch-off-background: #f1f1f1;
    --switch-enabled-background: #4cd9aa;
    --switch-color: #ffffff;
    --switch-bordercolor: #dddddd;
    --slide-ball-diameter: 30px;
    --slide-ball-color: #4CAAD9;
    --slide-background: #f1f1f1;
    --slide-range-height: 16px;
    --slide-range-bordercolor: #dddddd;
    --options-background: #f1f1f1;
    --error_background: rgb(143, 43, 43);
    --error_text: rgb(255, 255, 255);
}

html {
}

body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    background-color: #f1f1f1;
    color: #000000;
    margin: 0 !important;
    padding: 0 !important;
}

.error {
    background-color: var(--error_background) !important;
    color: var(--error_text) !important;
}


table,
th,
td {
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid rgb(189, 189, 189);
    /*width: 100%;*/
}

th {
    /*width: 100vw;*/
    text-align: center;
    background-color: #f1f1f1;
}

tr {
    height: 50px;
    background-color: white;
    color: black;
}

.input-text {
    font-size: 16px;
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

    .switch + label {
        display: block;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }

input.switch-btn-enabled + label,
input.switch-btn-flash + label,
input.switch-btn + label {
    padding: 2px;
    width: calc(2 * var(--switch-diameter));
    height: var(--switch-diameter);
    background-color: var(--switch-bordercolor);
    border-radius: var(--switch-diameter);
}

    input.switch-btn-enabled + label::before,
    input.switch-btn-enabled + label::after,
    input.switch-btn-flash + label::before,
    input.switch-btn-flash + label::after,
    input.switch-btn + label::before,
    input.switch-btn + label::after {
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        content: "";
    }

    input.switch-btn-enabled + label::before,
    input.switch-btn-flash + label::before,
    input.switch-btn + label::before {
        right: 1px;
        background-color: var(--switch-off-background);
        border-radius: var(--switch-diameter);
        transition: background 0.4s;
    }

    input.switch-btn-enabled + label::after,
    input.switch-btn-flash + label::after,
    input.switch-btn + label::after {
        width: var(--switch-diameter);
        background-color: var(--switch-color);
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.4s;
    }

input.switch-btn:checked + label::before {
    background-color: var(--switch-on-background);
}

input.switch-btn-enabled:checked + label::before {
    background-color: var(--switch-enabled-background);
}

input.switch-btn-flash:checked + label::before {
    background-color: var(--switch-on-background);
    -webkit-animation-name: switch-flash;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: switch-flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

input.switch-btn-enabled:checked + label::after,
input.switch-btn-flash:checked + label::after,
input.switch-btn:checked + label::after {
    margin-left: var(--switch-diameter);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes switch-flash {
    0% {
        background-color: var(--switch-on-background)
    }

    50% {
        background-color: var(--switch-off-background)
    }

    100% {
        background-color: var(--switch-on-background)
    }
}

/* Standard syntax */
@keyframes switch-flash {
    0% {
        background-color: var(--switch-on-background)
    }

    50% {
        background-color: var(--switch-off-background)
    }

    100% {
        background-color: var(--switch-on-background)
    }
}

.slidecontainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: var(--slide-range-height);
    background: var(--slide-background);
    transition: background 0.4s;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: var(--slide-range-height);
    outline: none;
}

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: var(--slide-ball-diameter);
        height: var(--slide-ball-diameter);
        background: var(--slide-ball-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        border-radius: var(--slide-ball-diameter);
        border: 0px;
    }

    .slider::-moz-range-thumb {
        width: var(--slide-ball-diameter);
        height: var(--slide-ball-diameter);
        background: var(--slide-ball-color);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        border-radius: var(--slide-ball-diameter);
        cursor: pointer;
        border: 0px;
    }

    .slider::-moz-range-track {
        background-color: var(--slide-background);
    }

.options_selector {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 16px;
    /*background: var(--highlight);*/
    background: var(--options-background);
    border: 0;
    padding: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 20px;
    text-align: center;
    text-align-last: center;
    outline: none;
    /*
    padding-left: 20px;
    padding-right: 20px;
*/
}
